* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

.container {
    max-width: 1224px;
    margin: 0 auto;
}

body {
    font-family: 'nunito';
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.d-none {
    display: none;
}

.align-items-c {
    align-items: center;
}
.align-space-between{
    align-content: space-between;
}
.justify-end {
    justify-content: flex-end;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

.w-1 {
    width: 8.33%;
}

.w-2 {
    width: 16.66%;
}

.w-3 {
    width: 25%;
}

.w-4 {
    width: 33.33%;
}

.w-5 {
    width: 41.66%;
}

.w-6 {
    width: 50%;
}

.w-7 {
    width: 58.33%;
}

.w-8 {
    width: 66.66%;
}

.w-9 {
    width: 75%;
}

.w-10 {
    width: 83.33%;
}

.w-11 {
    width: 91.66%;
}

.w-12 {
    width: 100%;
}

.py-20 {
    padding: 20px;
}

.py-10 {
    padding: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

ul {
    list-style: none;
}

:root {
    --primary-color: #212631;
    --secondary-color: #333333;
    --background-color: #1a1e2b;
    --white-color: #e2e3e4;
    --black-color: #000;
    --white-100: #f8f9fa00;
    --grey-1: #aab3c5;
    --grey-2: #656d7b;
    --blue: #4799eb;
    --d-blue: #747af2;
    --green: #5cc18b;
    --yellow: #ddb30f;
    --red: #e44272;
    --pink: #d3416d;
    --Poppins: Poppins;
    --fs-12: 12px;
    --fs-14: 14px;
    --fs-15:15px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-22: 22px;
    --fs-26: 26px;
    --fs-50: 50px;
    --fs-45: 45px;
    --fs-30: 30px;
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
    --fw-900: 900;
    --padding-left: 12px;
    --padding-right: 12px;
}

/* sidebar start */


.sidebar .logo {
    background-color: var(--background-color);
    position: sticky;
    top: 0;
    z-index: 99;
    padding: 4.5px;
}

.sidebar .logo img {
    height: 59px;
    width: 200px;
    object-fit: cover;
}

.main {
    overflow: auto;
    height: 100vh;
    background-color: var(--primary-color);
    
}

.main::-webkit-scrollbar {
    width: 1px;
}

.sidebar .menu .dashboard {
    color: var(--grey-1);
}

.sidebar .menu ul li {
    padding: 12px 25px;
    color: var(--grey-1);
}
.sidebar .menu ul li:hover{
    background-color: #2b3343;

}
.sidebar .menu ul li:hover .dashboard{
    color: white;
}
.sidebar .menu ul li:hover .pagenav a{
    color: white;
}

.sidebar .menu ul li p {
    font-size: var(--fs-12);
    font-weight: var(--fw-800);
}

.sidebar .menu .dashboard i {
    margin-right: 8px;
}

.sidebar .menu .btn span {
    background-color: var(--blue);
    color: var(--white-color);
    font-size: 11px;
    font-weight: var(--fw-800);
    padding: 2px 4px;
    border-radius: 4px;
}

.sidebar .menu .btn span.pro {
    background-color: var(--pink);
    color: var(--white-color);
    font-size: 11px;
    font-weight: var(--fw-800);
    padding: 2px 4px;
    border-radius: 4px;
}

.accordion ul li.pagenav ul li span.pro {
    background-color: var(--pink);
    color: var(--white-color);
    font-size: 11px;
    font-weight: var(--fw-800);
    padding: 2px 4px;
    border-radius: 4px;
}

.accordion ul li.pagenav ul li span.free {
    background-color: var(--green);
    color: var(--white-color);
    font-size: 11px;
    font-weight: var(--fw-800);
    padding: 2px 4px;
    border-radius: 4px;
}

.accordion {
    width: 100%;
}



.accordion .pagenav {
    position: relative;
    padding: 0 !important;
    list-style: none;
}

.accordion .pagenav a {
    text-decoration: none;
    color: var(--grey-1);
}

.accordion .pagenav ul {
    display: none;
    /* hides all ul content by default (see exceptions in JS) */
    margin: 0;
}

.accordion .pagenav li {
    margin-bottom: 3px;
    list-style: none;
    text-transform: capitalize;
}

.accordion .pagenav li:hover {
    background-color: #a9a7a72c;
    transition: all 0.2s;
}

.accordion .pagenav h4 a {
    font-size: var(--fs-16);
    font-weight: var(--fw-600);
    text-transform: capitalize;

}

.accordion .pagenav h4 i {
    font-size: 10px;
    position: absolute;
    right: 10px;
    line-height: 20px;
    transition: .2s;
    -webkit-transition: .2s;
    -ms-transition: .2s;
}

.accordion .pagenav h4 i.puzzle {
    position: static;
    margin-right: 15px;
    font-size: var(--fs-12);
    transform: rotate(0deg);

}

.accordion .pagenav.open h4 i.arrow {
    transform: rotate(90deg);
}


.sidebar .menu ul li .progress {
    background-color: #323a49;
    height: 3px;
    width: 100%;
    position: relative;
    margin: 5px 0;
    border-radius: 3px;
}
.sidebar .line-y {
    width: 70%;
}
 .line-y {
    position: absolute; 
    top: 0;
    left: 0;
    border-radius: 3px;
    background-color: var(--yellow);
    width: 70%;
    height: 100%;
    z-index: 1;
}
.sidebar .line-b {
    width: 30%;
}
.line-b {
    position: absolute; 
    top: 0;
    left: 0;
    border-radius: 3px;
    background-color: var(--d-blue);
    width: 30%;
    height: 100%;
    z-index: 1;
}
.sidebar .line-r{
    width: 95%;
}
 .line-r {
    position: absolute; 
    top: 0;
    left: 0;
    border-radius: 3px;
    background-color: var(--pink);
    width: 95%;
    height: 100%;
    z-index: 1;
}
.line-g {
    position: absolute; 
    top: 0;
    left: 0;
    border-radius: 3px;
    background-color: var(--green);
    width: 95%;
    height: 100%;
    z-index: 1;
}
/* o */

.sidebar .menu ul li span.cpu {
    font-size: var(--fs-12);
    font-weight: var(--fw-800);
    color: var(--white-color);
}

.sidebar .menu ul li p.process {
    font-size: var(--fs-12);
    font-weight: var(--fw-500);
    color: var(--grey-1);
}

.sidebar .menu ul li.meter {
    padding: 6px 25px !important;
}

/* sidebar end */

/* header start */
header {
    background-color: var(--primary-color);
    padding: 9.5px;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header .icons img {
    width: 39px;
    height: 39px;
    border-radius: 50%;
}

header .icons a i {
    color: var(--grey-1);
    padding: 13px;
    font-size: 20px;

}

header .icons a {
    position: relative;
}

header .icons span {
    background-color: var(--pink);
    height: 8px;
    width: 8px;
    border-radius: 50%;
    position: absolute;
    top: 15%;
    right: 15%;
}

header .icons a:nth-child(4) {
    border-right: 1px solid var(--grey-2);
    border-left: 1px solid var(--grey-2);
}

header .icons a:nth-child(3) {
    margin-right: 30px;
}

header .icons a img {
    margin: 0 15px;
}

header .search {
    background-color: #323a49;
    padding: 5px;
    border-radius: 5px;
    margin-left: 5px;
}

header .search i {
    color: var(--grey-1);
    font-size: var(--fs-18);
    margin: 0 5px;
}

header input {
    background-color: transparent;
    border: 0;
    padding: 8px;
    color: var(--white-color);
    font-size: var(--fs-16);
}

header .search input::placeholder {
    color: var(--grey-1);
    font-size: var(--fs-14);
}
header .logo img{
    height: 59px;
    width: 200px;
    object-fit: cover;
}

.dash {
    height: 100vh;
    background-color: #252a37;
    overflow: auto;
   
}

/* header end */


/* section start  */
.dash-b {
    padding: 25px;
}

.heading h4 {
    color: var(--grey-1);
    font-size: var(--fs-30);
    font-weight: var(--fw-700);
}

.heading p {
    font-size: var(--fs-14);
    color: var(--grey-1);
    font-weight: var(--fw-300);
    word-spacing: 4px;
}

.dash-b .sales {
    background-color: var(--primary-color);
    margin-top: 25px;
    padding: 24px;
  
    border-radius: 10px;
    border: 1px solid #424650;
}

.sales h4 span {
    font-size: var(--fs-22);
    color: var(--grey-1);
    margin-bottom: 8px;
}

.sales h4 p {
    font-size: var(--fs-22);
    color: var(--blue);
}
.sales p {
    color: var(--grey-2);
    font-size: var(--fs-16);
}


.dash-b .customers {
    margin-top: 25px;
  
    background-color: var(--primary-color);
    border-radius: 10px;
    border: 1px solid #424650;
    padding: 16px;
}



.dash-b .customers h4 p {
    display: inline-block;
    color: var(--grey-2);
    font-size: var(--fs-16);
    font-weight: var(--fw-400);
}

.dash-b .customers h4 span {
    background-color: #2b4260;
    padding: 9px;
    border-radius: 5px;
}

.dash-b .customers h4 span i {
    font-size: var(--fs-22);
    color: var(--blue);
}

.dash-b .customers p {
    font-size: var(--fs-22);
    color: var(--grey-1);
    font-weight: var(--fw-700);
}

.dash-b .customers p.rate {
    font-size: var(--fs-14);
    display: block;
    color: var(--red);
    margin-top: 20px;

}

.dash-b .customers span i {
    font-size: var(--fs-12);
}

.dash-b .order {
    margin-top: 25px;

    background-color: var(--primary-color);
    border-radius: 10px;
    border: 1px solid #424650;
    padding: 16px;
}

.dash-b .order h4 p {
    display: inline-block;
    color: var(--grey-2);
    font-size: var(--fs-16);
    font-weight: var(--fw-400);
}

.dash-b .order h4 span {
    background-color: #2b4260;
    padding: 9px;
    border-radius: 5px;
}

.dash-b .order h4 span i {
    font-size: var(--fs-22);
    color: var(--blue);
}

.dash-b .order p {
    font-size: var(--fs-22);
    color: var(--grey-1);
    font-weight: var(--fw-700);
}

.dash-b .order p.rate {
    font-size: var(--fs-14);
    display: block;
    color: var(--green);
    margin-top: 20px;

}

.dash-b .order span i {
    font-size: var(--fs-12);
}

.dash-b .traffic {
    background-color: var(--primary-color);
    margin-top: 25px;
  
    padding: 24px;
    height: auto;
    border-radius: 10px;
    border: 1px solid #424650;
}

.dash-b .traffic h4 {
    font-size: var(--fs-22);
    color: var(--grey-1);
    margin-bottom: 8px;
}

.dash-b .traffic p {
    color: var(--grey-2);
    font-size: var(--fs-16);
    margin-bottom: 29px;
}

/* table sttart */
.table{
    background-color: var(--primary-color);
    margin-top: 25px;
    padding: 24px;
    border-radius: 10px;
    border: 1px solid #424650;
}
.table h3 p{
    font-size: var(--fs-22);
    color: var(--grey-1);
    margin-bottom: 8px;
}
.table h3 span{
    background-color: #a6a7a8;
    border-radius: 5px;
    padding: 6px 12px;
    font-size: var(--fs-14);
    font-weight: var(--fw-500);
    color: #000015;
}
.table h3 a span:hover{
    background-color: #d8dee999;
    color: #263343;
    transition: all 0.2s;
}
.table h3 a span:hover i{
    color: #263343;
    transition: all 0.2s;
}
.table h3 span i{
    font-size: var(--fs-14);
    color: #000015;
    margin-right: 7px;
}
.table p{
    color: var(--grey-2);
    font-size: var(--fs-16);
}
table tr th{
    color: var(--grey-1);
    font-size: var(--fs-16);
    text-transform: capitalize;
    padding: 15px;
}
.border-b{
    border-bottom: 1px solid #4a566d;
 
}
table tr td{
    padding: 10px ;
}
table td .profile{
    position: relative;
}
table td .profile img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
table td .profile span{
    background-color: var(--green);
    height: 11px;
    width: 11px;
    border-radius: 50%;
    border: 1px solid white;
    position: absolute;
    bottom: 4%;
    right:4%;
}
table td .name p{
    margin: 0;
    color: var(--grey-1);
    font-size: var(--fs-15);
}
table td .name span{
    color: var(--grey-2);
    font-size: var(--fs-14);
}
table td .usage h5 span{
    color: var(--grey-1);
    font-size: var(--fs-15);
    font-weight: var(--fw-600);
}
table td .usage h5 p{
    color: var(--grey-2);
    font-size: var(--fs-14);
    margin: 0 !important;
}


table td .activity .act p{
    color: var(--grey-2);
    margin: 0;
    font-size: var(--fs-14);
}
table td .activity .act span{
    color: var(--grey-1);
    font-size: var(--fs-15);
    font-weight: var(--fw-600);
}
table td .activity .menu i{
    font-size:var(--fs-18);
    color: var(--grey-1);
}
table .usage .meter .progress{
    position: relative;
    background-color: #323a49;
    height: 3px;
    width: 100%;
}
.usage .line-g{
    width: 50%;
}
.usage .line-b{
    width: 10%;
}
/* table end */

/* 3-table start */
.table-3-1{
    background-color: var(--blue);
    margin-top: 25px;
    margin-left: 25px;
   overflow: hidden;
    border-radius: 10px;
    border: 1px solid #424650;
}
.table-3-2{
    background-color: var(--yellow);
    margin-top: 25px;
    margin-left: 25px;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #424650;
}
.table-3-3{
    background-color: var(--pink);
    margin-top: 25px;
    margin-left: 25px;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #424650;
}
.content{
    padding: 20px;
}
.content h3{
    font-size: var(--fs-22);
    color: var(--white-color);
    font-weight: var(--fw-700);
    margin: 0 !important;
}
.content h3 p span{
    font-size: var(--fs-15);
    font-weight: var(--fw-500);
}
.content span{
    font-size: var(--fs-15);
    font-weight: var(--fw-500);
    color: var(--white-color);
}
.content h3 a i{
    font-size: var(--fs-15);
    color: var(--white-color);
}
/* traffic table-2 */
.traffic-2{
    background-color: var(--primary-color);
    margin-top: 25px;
    padding: 24px;
    border-radius: 10px;
    border: 1px solid #424650;
    width: 100%;
}
.traffic-2 h3 p{
    font-size: var(--fs-22);
    color: var(--grey-1);
    margin-bottom: 8px;
}

.traffic-2 p{
    color: var(--grey-2);
    font-size: var(--fs-16);
}
.traffic-2 .traffic-row span{
    font-size: var(--fs-14);
    color: #8790a0;
    font-weight: var(--fw-300);
}
.traffic-2 .traffic-row p{
    font-size: var(--fs-18);
    color: var(--grey-1);
    font-weight: var(--fw-700);
}

.traffic-row .r-b{
    border-left: 4px solid var(--d-blue);
    padding-left: 15px;
    margin: 20px 0;
}
.traffic-row .r-r{
    border-left: 4px solid var(--pink);
    padding-left: 15px;
    margin: 20px 0;
}
.traffic-row .r-g{
    border-left: 4px solid var(--green);
    padding-left: 15px;
    margin: 20px 0;
}
.traffic-row .r-y{
    border-left: 4px solid var(--yellow);
    padding-left: 15px;
    margin: 20px 0;
}
.days h3 p{
    color: var(--grey-2);
    font-size: var(--fs-14);
    margin: 9px 0 !important;
}
.t-progress{
    background-color: #323a49;
    height: 4px;
    width: 190px;
    position: relative;
    margin: 5px 0;
    border-radius: 3px;
}
.days .t-progress .t-red-1{
    position: absolute; 
    top: 0;
    left: 0;
    border-radius: 3px;
    background-color: var(--pink);
    width: 92%;
    height: 100%;
    z-index: 1;
}
.days .t-progress .t-red-2{
    position: absolute; 
    top: 0;
    left: 0;
    border-radius: 3px;
    background-color: var(--pink);
    width: 80%;
    height: 100%;
    z-index: 1;
}
.days .t-progress .t-red-3{
    position: absolute; 
    top: 0;
    left: 0;
    border-radius: 3px;
    background-color: var(--pink);
    width: 60%;
    height: 100%;
    z-index: 1;
}
.days .t-progress .t-blue-1{
    position: absolute; 
    top: 0;
    left: 0;
    border-radius: 3px;
    background-color: var(--d-blue);
    width: 60%;
    height: 100%;
    z-index: 1;
}
.days .t-progress .t-blue-2{
    position: absolute; 
    top: 0;
    left: 0;
    border-radius: 3px;
    background-color: var(--d-blue);
    width: 35%;
    height: 100%;
    z-index: 1;
}
.days .t-progress .t-blue-3{
    position: absolute; 
    top: 0;
    left: 0;
    border-radius: 3px;
    background-color: var(--d-blue);
    width: 20%;
    height: 100%;
    z-index: 1;
}
.gender{
    padding: 0 15px;
    margin: 20px 0;
}
.gender h5{
    margin: 0 !important;
}
.gender h5 span{
 color: var(--grey-1);
 font-size: var(--fs-15);
} 
.gender h5 span i{
    margin-right: 5px;
    font-size: var(--fs-18);
}
.gender h5 p{
    color: var(--grey-1);
    font-weight: var(--fw-700);
    margin: 0 !important;
}
.t-progress-1{
    background-color: #323a49;
    height: 4px;
    width: 100%;
    position: relative;
    margin: 5px 0;
    border-radius: 3px;
}
.t-yellow{
    position: absolute; 
    top: 0;
    left: 0;
    border-radius: 3px;
    background-color: var(--yellow);
    width: 80%;
    height: 100%;
    z-index: 1;
}
.t-green-1{
    position: absolute; 
    top: 0;
    left: 0;
    border-radius: 3px;
    background-color: var(--green);
    width: 56%;
    height: 100%;
    z-index: 1;
}
.t-green-2{
    position: absolute; 
    top: 0;
    left: 0;
    border-radius: 3px;
    background-color: var(--green);
    width: 15%;
    height: 100%;
    z-index: 1;
}
.t-green-3{
    position: absolute; 
    top: 0;
    left: 0;
    border-radius: 3px;
    background-color: var(--green);
    width: 11%;
    height: 100%;
    z-index: 1;
}
.t-green-4{
    position: absolute; 
    top: 0;
    left: 0;
    border-radius: 3px;
    background-color: var(--green);
    width: 8%;
    height: 100%;
    z-index: 1;
}
.social-1{
    margin-top: 68px;
}
.social{
    padding: 0 15px;
    margin: 30px 0;
    display: block;
}
.social h5{
    margin: 0 !important;
}
.social h5 span{
 color: var(--grey-1);
 font-size: var(--fs-15);
} 
.social h5 span i{
    margin-right: 5px;
    font-size: var(--fs-18);
}
.social h5 p{
    color: var(--grey-1);
    font-weight: var(--fw-700);
    margin: 0 !important;
}
.social h5 p span{
    font-size: var(--fs-15);
    color: var(--grey-2);
    font-weight: var(--fw-300);
}
/* section end */

/* footer start */
footer{
    background-color: var(--primary-color);
    padding: 15px;
    font-size: var(--fs-15);
}
footer span a{
    text-decoration: underline;
    color: #85c2ff;
}
footer span a:hover{
    color: #85c2ff;
}
footer p{
    color: var(--grey-1);
    margin: 0 7px;
}
/* footer end */